@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cormorant:ital,wght@0,300;1,300&display=swap');
body {
  margin: 0;
  padding: 0;
  border: 0;
}
.head_write {
  font-family: "Comporant", serif;
  font-size: 20px;
}
.it_keeps_head {\
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) saturate(100%) contrast(100%) brightness(100%);
  z-index: 1001;
}
.about {
  text-align: center;
}
.tablePreviewText {
  font-family: "Comporant", serif;
  font-size: 14px;
  font-weight: lighter;
}
.lineTitle1 {
  font-family: "Comforter Brush", cursive;
  color: red;
  font-size: 30px;
  padding-left: 10px;
  opacity: 0.2
}
.lineTitle2 {
  font-family: "Comforter Brush", cursive;
  color: black;
  font-size: 30px;
  padding-left: 10px;
  opacity: 0.2
}
.product {
  display: inline-block;
}
.productImage {
  height: 100px;
  width: 100px;
}
.productPrice {
  font-family: "Comporant", serif;
  font-size: 14px;
}
.support {
  padding: 10px;
  font-family: "Comporant", serif;
  font-size: 14px;
}
.formPart {
  font-family: "Comporant", serif;
  font-size: 14px;
  width: 120px
}
.footerText {
  font-family: "Comporant", serif;
  font-size: 14px;
  padding: 10px;
}
