@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Hepta+Slab:wght@1..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(255, 255, 255);
}
.logotype {
  height: 20px;
  margin: 10px 0 10px 0;
}
.newYearLights {
  text-align: center;
  margin: auto;
  max-width: 230px;
}
.optional {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(195,89,226,0) 100%);
}
.head_write {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}
.it_keeps_head {\
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) saturate(100%) contrast(100%) brightness(100%);
  z-index: 1001;
}
.marquee_keep {
  max-width: 250px;
  margin: auto;
  height: 30px;
}
.marquee1 {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: normal;
  vertical-align: bottom;
}
.about {
  text-align: center;
}
.prewiev_one {
  max-width: 230px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.3);
  margin: auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  transition: transform 0.2s;
}
.prewiev_one:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px 5px rgba(132, 19, 164, 0.1);

}
.prewiev_two {
  max-width: 230px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.3);
  margin: auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  transition: transform 0.2s;
  background-image: url("images/newYear_Backgr.png");
  background-size: cover;
  background-position: center;
}
.prewiev_two:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px 5px rgba(132, 19, 164, 0.1);

}
.prewiev_three {
  max-width: 230px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.3);
  margin: auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  transition: transform 0.2s;
  background-image: url("images/snowman.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.prewiev_three:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px 5px rgba(132, 19, 164, 0.1);

}
.prewiev_image {
  width: 150px;
}
.prewiev_title {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 5px 0px 5px;
}
.prewiev_text {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  padding: 5px 5px 5px 5px;
}
.prewiev_url {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #8413A4;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
}
.presentor {
  margin: auto;
  max-width: 230px;
  border-radius: 10px;
  background-color: #efd3ff;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lineTitle {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 15px;
  padding-left: 10px;
}
.selector {
  margin: auto;
  max-width: 230px;
  border-radius: 10px;
  background-color: #f3f6f4;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.selectorat {
  margin: auto;
  max-width: 230px;
  border-radius: 10px;
  background-color: #f3f6f4;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.selects {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 15px;
  padding-left: 10px;
}
.selector:hover {
  background-color: #eeeeee;
}
.productKeeper {
  width: 230px;
  margin: auto;
}
.product {
  display: inline-block;
  width: 110px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
}
.productImage {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-top: 5px;
  transition: transform 0.2s;
}
.productImage:hover {
  transform: scale(0.95);
}
.productName {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.productAbout {
  font-family: "Mulish", sans-serif;
  font-size: 11px;
  color: #8413A4;
  padding-left: 5px;
}
.productPrice {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.buyIt {
  font-family: "Mulish", sans-serif;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  background-color: #8413A4;
  color: white;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.productInfo {
  font-family: "Mulish", sans-serif;
  font-style: italic;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
  height: 20px;
  width: 19px;
  border-radius: 10px;
  border: none;
  background-color: #e0e0e0;
  color: white;
  margin-bottom: 5px;
}
.supportKeeper {
  display: flex;
  justify-content: center;
}
.support {
  padding: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  max-width: 230px;
}
.formPart {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: #efd3ff;
}
.footerLogotype {
  align: center;
  width: 100px;
}
.footerText {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.window_of_product {
  display: none;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  text-align: right;
}
#product1:target {display: block}
#product2:target {display: block}
#product3:target {display: block}
#product4:target {display: block}
#product5:target {display: block}
#product6:target {display: block}
#product7:target {display: block}
#product8:target {display: block}
#product9:target {display: block}
#product10:target {display: block}
.image_in_window {
  width: 200px;
  margin: auto;
  display: flex;
  -justify-content: center;
}
.clsIt {
  font-family: "Mulish", sans-serif;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  background-color: #f3f6f4;
  color: #000;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.window_title {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  color:#8413A4;
  display: flex;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.window_descr {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #000;
  display: flex;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.window_details {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  color:#999999;
  display: flex;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.window_price {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #8413A4;
  display: flex;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.WbuyIt {
  font-family: "Mulish", sans-serif;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  background-color:#8413A4;
  color: #fff;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.accountPresentor {
  margin: auto;
  margin-top: 30px;
  display: none;
  max-width: 230px;
  text-align: center;
}
